body {
    color:#a10606;
    background-color: rgb(192, 191, 191);
    --fontsize: 16pt;

    font-size:var(--fontsize);
    z-index: -1;
}



.hide {
    display: none;
}

.relative {
    position: relative;
}
