<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
        {% block scriptsTop %} {% endblock %}
        <title>
            {% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
        {% block css %} {% endblock %}
    </head>
    <body>

    <div>
        <a href="/">Supermint.love home</a>
    </div>
    <div id="auth">
        {% if current_user.is_authenticated %}
            <a href="/logout">logout</a>
        {% else %}
            <a href="/login">login</a>
            <a href="/signup">Sign up</a>
        {% endif %}
    </div>

    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="errorMessages">
                {% for message in messages %}
                    <p>{{message}}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

    {% block content %} {% endblock %}
    {% block scriptsEnd %} {% endblock %}
    </body>
</html>