<!doctype html>
<html>
    <head>
        <script type="text/javascript" src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
        {% block scriptsTop %} {% endblock %}
        <title>
            {% block title %} {% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}">
        {% block css %} {% endblock %}
    </head>
    <body>
        {% block content %} {% endblock %}
        {% block scriptsEnd %} {% endblock %}
    </body>
</html>