{% extends "base.html" %} 

{% block scriptsTop %}
<script>
    // this is for debug in console
    var number_of_authors = 0
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/submit.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% endblock %}

{% block title %}McCarthys{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/submit.css')}}">
{% endblock %}

{% block content %}
    <h1>
        This is the edit page
    </h1>
    
    <div>Select a quiz:
        <select name="quizSelect" id="quizSelect"></select>
    </div>

    <div>
        Quiz Name:
        <input type="text" id="quizTitleInput">
    </div>
    <div>
        Quiz Authors:
        <div id="listOfAuthors">
        </div>
    </div>

    
    <div>
        <button type="button" onclick="additionalAuthor()">Add another Author</button>
        <button type="button" onclick="removeLastAuthor()">Remove Last Author</button>
    </div>

    <div class="relative">
        <button type="button" onclick="showHideAddNewUser()" id="showHideNewUserButton">Add new User</button>
        <div id="addNewUser" class="hide addNewValues">
            <p>First Name: <input type="text" name="firstName"></p>
            <p>Last Name: <input type="text" name="lastName"></p>
            <p>Pseudonym: <input type="text" name="pseudonym"></p>

            <p><button type="submit" onclick="submitNewUser()">Submit New User</button></p>
        </div>
    </div>
    <div>
        Round topics:
        <div id="listOfRounds">
        </div>
    </div>

    <div class="relative">
        <button type="button" onclick="showHideAddNewTopic()" id="showHideNewTopicButton">Add new Topic</button>
        <div id="addNewTopic" class="hide addNewValues">
            <p>Topic name: <input type="text" name="topicName"></p>
            <p><button type="submit" onclick="submitNewTopic()">Submit New Topic</button></p>
        </div>
    </div>
    <div>
        <button type="button" onclick="additionalRound()">Add another Round</button>
        <button type="button" onclick="removeLastRound()">Remove Last Round</button>
    </div>
    <div>
        Location:
        <select name="quizLocation" id="quizLocation">
            {% for location in locations %}
                <option value="{{ location.id }}">{{ location.name }}</option>
            {% endfor %}
        </select>
    </div>

    <div>
        Google Drive Link:
        <input type="text" name="googleDriveURL" id="googleDriveURLInput">
    </div>

    <div>
        Date of Hosting: 
        <input type="date" id="hostDateInput">
    </div>

    <button type="submit" onclick="submitNewQuiz()">Submit New Quiz</button>

{% endblock %}

{% block scriptsEnd %}
<script>loadQuizzes()</script>
{% endblock %}


