{% extends "base.html" %} 

{% block scriptsTop %}
<script>
    const n_quizzes = {{ quizzes | length }}
    // this is for debug in console
    const test_quizzes = {{ quizzes|tojson }}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/McCarthys.js') }}"></script>
{% endblock %}

{% block title %}McCarthys{% endblock %}

{% block content %}
    <h1>
        These are done at McCarthy's
    </h1>
    <div id = "quizzes"></div>
{% endblock %}

{% block scriptsEnd %}
<script>displayQuizzes({{ quizzes|tojson }})</script>
{% endblock %}


