{% extends "base.html" %} 

{% block scriptsTop %}
<script>
    const n_quizzes = {{ quizzes | length }}
    var areQuizzesOpened = false
    // this is for debug in console
    const test_quizzes = {{ quizzes|tojson }}
</script>
<script type="text/javascript" src="{{ url_for('static', filename='scripts/McCarthys.js') }}"></script>
{% endblock %}

{% block title %}McCarthys{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/mcCarthys.css')}}">
{% endblock %}

{% block content %}
    <h1>
        These are done at McCarthy's
    </h1>
    <div>
        <button id="openQuizzesBtn" onclick="openCloseAll()">Open All Quizzes</button>
    </div>
    <!-- <div id="searchFields">
        <label for="searchField">Search:</label><input type="text" id="searchField" placeholder="Search for anything" onchange="search(searchField)">
    </div> -->
    <div id = "quizzes"></div>
{% endblock %}

{% block scriptsEnd %}
<script>displayQuizzes({{ quizzes|tojson }})</script>
{% endblock %}


